.Payment{
    background-color: white;
}

.Payment__container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234,237,237);
    border-bottom: 1px solid lightgray;
}

.Payment__container > h1 a{
    text-decoration: none;
}

.Payment__sectionAddress,.Payment__sectionItems,.Payment__paymentsection{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}



.Payment__title{
    flex: 0.2;
    padding-right: 10px;
    margin-left: 10px;
}
.Payment__address,.Payment__details{
    flex: 0.8;
}

.Payment__details > form{
    max-width: 300px;
}

.Payment__details > form  > div > button {
    background: #f0c14b;
    border: 1px solid;
    border-radius: 2px;
    margin-top: 10px;
    border-color: #a88743 #9c7e31 #846a29;
    width: 100%;
    height: 30px;
    font-weight: bolder;
    color: #111;

}


@media screen and (max-width:500px) {
    .Payment__sectionItems{
        display: flex;
        flex-direction: column;
    }
    .Payment__items{
        flex:0.6
    }

    .Payment__details{
        display: flex;
        flex-direction: column;
    }
}